In [33]:
import pandas as pd


J = 10
# List of Excel file names
file_names = [rF"C:\Users\hpalm\Downloads\Sesión 2 (1)\Sesión 2\P{J}\Pose_0.xlsx", rF"C:\Users\hpalm\Downloads\Sesión 2 (1)\Sesión 2\P{J}\Pose_1.xlsx", rF"C:\Users\hpalm\Downloads\Sesión 2 (1)\Sesión 2\P{J}\Pose_2.xlsx", rF"C:\Users\hpalm\Downloads\Sesión 2 (1)\Sesión 2\P{J}\Pose_3.xlsx", rF"C:\Users\hpalm\Downloads\Sesión 2 (1)\Sesión 2\P{J}\Pose_4.xlsx", rF"C:\Users\hpalm\Downloads\Sesión 2 (1)\Sesión 2\P{J}\Pose_5.xlsx"]

# Create an empty DataFrame to store the combined data
combined_data = pd.DataFrame()

# Iterate over each file
i = 0
for file_name in file_names:
    # Read the Excel file into a DataFrame, skipping the first row
    data = pd.read_excel(file_name,engine='openpyxl')
    
    # Add a new column with the file name
    data['Clase'] = i
    
    # Append the data to the combined DataFrame
    combined_data = combined_data.append(data, ignore_index=True)
    i+=1

# Save the combined data to a CSV file
combined_data.to_csv('P10S2.csv', index=False)

In [34]:
combined_data

,Canal_1,Canal_2,Canal_3,Canal_4,Canal_5,Canal_6,Canal_7,Canal_8,Clase
0,0.007812,-0.015625,-0.015625,-0.031250,0.007812,0.000000,-0.031250,-0.007812,0
1,-0.015625,-0.023438,-0.015625,-0.015625,-0.023438,-0.007812,0.007812,-0.015625,0
2,-0.015625,-0.007812,-0.015625,-0.007812,0.015625,0.000000,0.000000,-0.015625,0
3,0.000000,0.000000,-0.007812,0.000000,-0.015625,-0.015625,-0.046875,-0.015625,0
4,-0.023438,0.023438,-0.007812,0.007812,-0.023438,-0.015625,0.000000,-0.023438,0
...,...,...,...,...,...,...,...,...,...
34495,-0.031250,-0.007812,0.039062,0.085938,-0.015625,0.078125,-0.015625,-0.132812,5
34496,-0.562500,-0.078125,-0.015625,-0.023438,-0.039062,-0.046875,-0.015625,0.023438,5
34497,-0.148438,-0.015625,0.007812,0.023438,0.023438,-0.031250,-0.023438,0.039062,5
34498,0.476562,0.140625,-0.015625,-0.039062,-0.031250,-0.007812,0.000000,0.085938,5
34499,-0.046875,0.023438,-0.023438,-0.015625,0.023438,-0.046875,-0.015625,-0.015625,5

In [23]:
combined_data

,Canal_1,Canal_2,Canal_3,Canal_4,Canal_5,Canal_6,Canal_7,Canal_8,Clase
0,-0.015625,-0.007812,-0.007812,-0.007812,0.000000,-0.007812,-0.023438,-0.023438,0
1,-0.007812,-0.015625,-0.015625,0.000000,0.000000,0.000000,-0.015625,-0.007812,0
2,-0.007812,-0.015625,0.000000,-0.015625,-0.023438,0.000000,-0.007812,-0.015625,0
3,0.000000,-0.023438,-0.007812,-0.031250,-0.007812,0.000000,-0.015625,-0.007812,0
4,-0.007812,0.000000,-0.015625,0.000000,-0.007812,0.000000,0.007812,0.000000,0
...,...,...,...,...,...,...,...,...,...
35995,-0.046875,-0.039062,0.000000,-0.039062,-0.101562,-0.046875,-0.609375,-0.718750,5
35996,-0.351562,-0.281250,0.062500,0.039062,-0.070312,-0.062500,0.617188,0.656250,5
35997,-0.359375,-0.500000,-0.195312,-0.023438,0.250000,0.328125,0.179688,-0.437500,5
35998,-0.273438,0.054688,0.023438,-0.054688,-0.031250,-0.132812,-0.265625,0.492188,5
35999,0.250000,0.203125,0.023438,0.039062,0.007812,0.000000,0.187500,0.039062,5